<nav th:fragment="navbar">
  <ul>
    <li class="active"><a href="/"><i class="fas fa-home"></i> 홈</a></li>
    <li><a href="#"><i class="fas fa-bus"></i> 운행 관리</a></li>
    <li><a href="#"><i class="fas fa-clipboard-list"></i> 배차 작성</a></li>
    <li><a href="/vehicle"><i class="fas fa-truck"></i> 차량관리</a></li>
    <li><a href="/driver"><i class="fas fa-id-card"></i> 운전자관리</a></li>
    <li><a href="#"><i class="fas fa-route"></i> 노선관리</a></li>
    <li><a href="#"><i class="fas fa-envelope"></i> 메세지 발송</a></li>
  </ul>
</nav>